<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>SantrArchitect</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
</head>
<style>
        #mainNav .navbar-brand {
            color: black;
        }

        #mainNav .navbar-nav>li.nav-item>a.nav-link {
            color: black;
        }

        #mainNav .navbar-brand:hover {
            color: #464660;
        }

        #mainNav .navbar-nav>li.nav-item>a.nav-link:hover {
            color: #464660;
        }
</style>
<body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top animate__animated animate__fadeInDown" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="/#page-top">SantrArchitect</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars ms-1"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                    <li class="nav-item"><a class="nav-link" href="/#services">HİZMETLERİMİZ</a></li>
                    <li class="nav-item"><a class="nav-link" href="/#portfolio">PORTFOLYO</a></li>
                    <li class="nav-item"><a class="nav-link" href="/#about">HAKKIMIZDA</a></li>
                    <li class="nav-item"><a class="nav-link" href="/#team">EKİP</a></li>
                    <li class="nav-item"><a class="nav-link" href="/#contact">İLETİŞİM</a></li>
                    <% if(currentUser){ %>

                        <li class="nav-item">
                            <a class="nav-link px-lg-3 py-3 py-lg-4" href="/admin">Admin</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link px-lg-3 py-3 py-lg-4" href="/logout">Çıkış</a>
                        </li>
                        

                    <% }%>
                </ul>
            </div>
        </div>
    </nav>
    <br><br><br><br>
    <div class="container">
        <h2 style="text-align: center;">Yeni Yazı Ekle</h2>
        <form action="/test" method="post" enctype="multipart/form-data">
            <div class="form-group mb-md-0">
                <label for="title">Başlık</label>
                <input class="form-control" id="title" placeholder="Başlık" type="text" name="title" required>
            </div><br>
            <div class="form-group mb-md-0">
                <label for="category">Kategori</label>
                <input class="form-control" id="category" placeholder="kategori" type="text" name="category" required>
            </div><br>
            <div class="form-group mb-md-0">
                <label for="projectName">Proje Adı</label>
                <input class="form-control" id="projectName" placeholder="Proje Adı" type="text" name="projectName" required>
            </div><br>
            <div class="form-group mb-md-0">
                <label for="intro">Tanıtım Yazısı</label>
                <input class="form-control" id="intro" placeholder="Tanıtım Yazısı" type="text" name="intro" required>
            </div><br>
            <div class="form-group mb-md-0">
                <label for="image_1">Kapak Resmi</label>
                <input class="form-control" id="image_1" placeholder="Resim" type="file" accept="image/png, image/gif, image/jpeg" name="image_1">

                <label for="image_2">Resim-2</label>
                <input class="form-control" id="image_2" placeholder="Resim" type="file" accept="image/png, image/gif, image/jpeg" name="image_2">

                <label for="image_3">Resim-3</label>
                <input class="form-control" id="image_3" placeholder="Resim" type="file" accept="image/png, image/gif, image/jpeg" name="image_3">

                <label for="image_4">Resim-4</label>
                <input class="form-control" id="image_4" placeholder="Resim" type="file" accept="image/png, image/gif, image/jpeg" name="image_4">

                <label for="image_5">Resim-5</label>
                <input class="form-control" id="image_5" placeholder="Resim" type="file" accept="image/png, image/gif, image/jpeg" name="image_5">

                <label for="image_6">Resim-6</label>
                <input class="form-control" id="image_6" placeholder="Resim" type="file" accept="image/png, image/gif, image/jpeg" name="image_6">

            </div>
            
            <div class="form-group mb-md-0">
                <label for="content">İçerik</label>
                <textarea  name="content" id="content" class="form-control"></textarea> 
            </div><br>
           
            
            <br><br>
            <button type="submit" id="myButton" class="btn btn-outline-success">Paylaş</button>
            <a href="/" class="btn btn-secondary">İptal</a>
            <br><br>
        </form>
       
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
        integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"
        integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/"
        crossorigin="anonymous"></script>
    <!-- Core theme JS-->

    <script src="js/main.js"></script>
    
</body>

</html>