<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>SantrArchitect</title>
  <!-- Favicon-->
  <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
  <!-- Font Awesome icons (free version)-->
  <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
  <!-- Google fonts-->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:200" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
  <link rel="shortcut icon" href="https://img.icons8.com/ios-filled/50/000000/circled-s.png" />
  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="css/styles.css" rel="stylesheet" />
</head>
<style>
  #services h4 {
    color: #157347;
  }
  .admin{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  .admin a{
    margin: 10px;
    width: 400px;
  }
</style>

<body id="page-top">
  <!-- Navigation-->
  <%- include('./partials/navbar') %>
  
  <header class="masthead animate__animated animate__fadeInRight"
    style="background-image: url('https://cdn.pixabay.com/photo/2015/12/01/15/43/black-1072366_960_720.jpg'); ">
    <div class="container position-relative px-4 px-lg-5 ">
      <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-lg-8">
          <div class="site-heading baslik">
            <h1 style="color: green;">Yönetim Paneli</h1>
            <hr>
            <div class="admin">
              <a href="/addNewProject" class="btn btn-success btn-xl ">Yeni Proje Ekle</a>
              <a href="/allProjects" class="btn btn-success btn-xl ">Projeleri Yönet</a>
              <a href="/signup" class="btn btn-success btn-xl ">Yeni Kullanıcı Ekle</a>
              <a href="/aboutText" class="btn btn-success btn-xl ">Hakkında Kısmını Düzenle</a>
              
             

            </div>


          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Bootstrap core JS-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
  <!-- Core theme JS-->
  <script src="../js/scripts.js"></script>



</body>

</html>